.top{
    display: flex;
    padding: 40px 40px 20px 40px;
    justify-content: center;
img{
    position: absolute;
    left: 16px;
    width: 34px;
    transform: rotate(-270deg);
}
    h4{
        font-size: 22px;
        font-weight: 400;
    }

}

.BetFormInput {
    background-color: transparent;
    height: 45px;
    width: 311px;
    border: none;
    color: #49454F;
    border: 1px solid #000000;
    border-radius: 3px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    padding: 12px 12px;



    &:focus {
        outline: none;
    }
}

.BetFormSubmit {
    background: #EA3313;
    height: 45px;
    width: 304px;
    border: none;
    color: #fff;
    border-radius: 100px;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    margin-top: 35px;
    margin-bottom: 35px;
    cursor: pointer;

}
.ModalContent {
    max-width: 283px;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #79747E;
    margin-top: 13px;
    letter-spacing: -0.02em;
}

.ModalYesButton {
    background: #EA3313;
    height: 45px;
    width: 108px;
    border: none;
    color: #fff;
    border-radius: 100px;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    margin-top: 35px;
    margin-bottom: 35px;
    cursor: pointer;


}

.ModalButton {
    background: transparent;
    height: 45px;
    width: 108px;
    border: none;
    color: #EA3313;
    border-radius: 100px;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    border: 2px solid #EA3313;
    margin-top: 35px;
    margin-bottom: 35px;
    cursor: pointer;

 
}
.ButtonWrap {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 20px
}