.RecovertPasswordWrapper{
    height: 100vh;
}

.RecoverInner{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    @media only screen and (max-width:767px) {
        flex-direction: column;
    
    }
}

.Recover{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 50%;
    width: 100%;
    background-color: #FFFFFF;
    height: 100%;
    @media only screen and (max-width:767px){
        max-width: 100%;
        padding: 30px 30px;
    }
    h2{
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #000000;
        margin-top: 67px;
        text-align: left;
        width: 311px;
        @media only screen and (max-width:767px){
            width: 260px;
            margin-top: 35px;
        }
    }

    h4{
        font-weight: 500;
font-size: 16px;
line-height: 24px;
display: flex;
align-items: center;
letter-spacing: 0.15px;

color: #49454F;
        margin-top: 34px;
        text-align: left;
        width: 294px;
  
    }
    ul{
        flex-direction: column;
        list-style-type: disc;
        margin-top: 8px;
        margin-left: 22px;

        li{
            text-align: left;
            font-weight: 400;
            font-size: 16px;
            margin: 5px 0;
            letter-spacing: 0.5px;
            line-height: 18px;
            color: #79747E;
        }
    }
}

// .RecoverTop{
//     display: flex;
//     align-items: center;
//     width: 311px;
//     gap: 90px;
//     @media only screen and (max-width:767px){
//         width: 260px;
//     }
//     h3{
//         font-weight: 500;
//         font-size: 14px;
//         line-height: 19px;
//         color: #000000;
   
      
//     }
//     img{
//         width: 8px;
//     }
   
// }
.RecoverTop{
    display: flex;
    align-items: start;
    width: 264px;
    justify-content: start;
    img{
        width: 8px;
    }
    h3{
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        color: #49454F;
        letter-spacing: 0.1px;
        margin-left: 75px;

    }
    @media only screen and (max-width:767px) {
        margin-top: 8px;
        width: 296px;
    }


}

.RecoverForm{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    .inputWrapper{
        display: flex;
        flex-direction: column;
        gap: 24px;
        margin: 32px 0;
    }
}

