.TabsNav {
 display: flex;
position: relative;
align-items: end;
border-bottom: 2px solid #CAC4D0;
padding: 0 74px;
@media only screen and (max-width:768px) {
    flex-wrap: wrap;
    align-items: center;
}
 button{
font-weight: 400;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.5px;
color: #79747E;
background: transparent;
cursor: pointer;
border-bottom: 2px solid #60A626;
padding: 12px 16px;
border: none;
padding-top: 32px;

 }

}

.Active {

display: flex;
align-items: center;
// border-bottom: 2px solid #60A626 !important;
position: relative;
&:after{
    content: '';
    position: absolute;
    width: 100%;
    bottom: -2px;
    left: 0;
    height: 2px;
    background-color: #60A626;
}

.label{
    color: #60A626 !important;
display: flex;
align-items: center;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.5px;
font-weight: 600;
}

    @media screen and (max-width: 468px) {
     display: none;   
    }
}
.nonActive{
    display: flex;
    align-items: center;


    @media screen and (max-width: 468px) {
        max-width: 334px;
    width: 100%;
    position: relative;
    padding: 16px;
    border-radius: 12px;
    background-color: #fff;
    border: 1px solid #CAC4D0;

span{
    font-size: 16px;
}
.expandIcon{
        position: absolute;
        right: 27px;
        transform: rotate(270deg);
    } 
       }
  
}
.betDropdown{
    height: 56px;
    display: none;
    background: #60A626;
    width: 100%;
    position: absolute;
    bottom: -54.5px;
    left: 0;
    padding: 4px 74px;
    display: none;
    
    button{
        color: #fff;
        letter-spacing: 0.5px;
        font-weight: 400;
font-size: 16px;
line-height: 24px;
        padding: 12px 20px !important;

    }
}


.focused{
    background-color: #518D1F !important;
    border-radius:12px;
    padding: 12px 20px;

}
ul{
    display: flex;
}



.MobileNav{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 12px;
}

.mobile{
    display: flex;
    flex-direction: column-reverse;
    gap: 23px;
    align-items: center;
    justify-content: center;

    h4{
        text-align: left;
    width: 100%;
    font-size: 22px;
    font-weight: 400;
    padding-left: 22px;
    }
    
}

.label{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.5px;
    padding: 0 10px 0 14px;
    color: #79747E;
}

.Active:hover + .betDropdown,
.betDropdown:hover {
  display: flex;
}