.App {
  text-align: center;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;

}

body {
  font-family: "Roboto", sans-serif;
  background-color: #fff;
}

ul {
  list-style-type: none;
}

a,
a:hover {
  display: inline-block;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.container {
  max-width: 2000px;
  margin: 0 auto;
  padding: 0 74px;

}


/* .custom-toast-body-class {
  z-index: 9999;
  font-size: 14px;
  line-height: 19px;
  background-color: #CC5136;
  color: #FFFFFF;
  font-weight: normal;
  padding: 14px 33px 14px 23px;
  text-align: left;
} */

.Toastify__toast-body > div:last-child{
  flex: none !important;
  
}
.Toastify__toast-theme--light{
  background: #4CAF50 !important;
}
.Toastify__close-button{
  color: #CCEAC4 !important;
}
.Toastify__toast-body > div:last-child{
  color: #fff;
  font-weight: 600;
font-size: 16px;
line-height: 24px;
flex: none;
letter-spacing: 0.15px;

}
.Toastify__progress-bar--success{
  background: #CCEAC4 !important;
}
.Toastify__toast-icon svg{
  fill: white;
}
/* .custom-toast-body-success-class {
  z-index: 9999;
  font-weight: 600;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.15px;
color: #FFFFFF;
  line-height: 19px;
  width: 335px;
  height: 63px;
  padding: 14px 33px 14px 23px;
box-shadow: 1px 5px 8px rgba(0, 0, 0, 0.1), 2px 1px 8px rgba(0, 0, 0, 0.05);
border-radius: 4px;
} */



/* .custom-toast-check-icon:before {
  color: white;
  background-image: url('./assets/images/tickIcon.svg');
  background-size: cover;
  font-size: 1.5em;
  margin-right: 10px;
  position: absolute;
  left: 12px;
} */

.Toastify__toast-container{
 width: 375px !important;
 flex: none !important;;
}
.Toastify__toast-body {
  margin: auto 0 0 !important;
}


.ModalButton{
  background: #EA3313;
  width: 146px;
  border: none;
  color: #fff;
  border-radius: 100px;
  font-weight: 400;
  font-size: 14px;
padding: 20px;
  cursor: pointer;
position: absolute;
bottom: 12px;
right: 10px;

}




  @media only screen and (max-width: 468px) {
    .container {
 
      padding: 0 20px;
    }
  }

  @media only screen and (max-width: 480px){
.Toastify__toast-container--top-left, .Toastify__toast-container--top-center, .Toastify__toast-container--top-right {
  top: 1em !important;
  left: 50% !important;
  transform: translateX(-50%) !important;
}
.Toastify__toast-container{
  left: none !important;
}
.Toastify__toast-container {
    width: 335px !important;
    padding: 8px 8px 0px 0px;
}
.Toastify__toast {
    border-radius: 4px !important;
}
.Toastify__toast-body > div:last-child{
  flex: none !important;
  
}
.Toastify__toast-body {
  margin: auto 0 0 !important;
}
  }