.LoginWrapper {
    height: 100vh;
  }
  
  .LoginInner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  
    @media only screen and (max-width: 767px) {
      flex-direction: column;
    }
  }
  
  .Login {
    display: flex;
    flex-direction: column;
    max-width: 50%;
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    justify-content: center;
    align-items: center;
  
    @media only screen and (max-width: 767px) {
      max-width: 100%;
      padding: 40px 30px;
      justify-content: start;
      gap: 12px;
    }
  }
  
  .LoginForm {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    // margin-top: 40px;
  
    @media only screen and (max-width: 767px) {
      margin-top: 8px;
    }
  }
  .inputWrapper{
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 48px;
  }
  .LoginForgotButton {
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #EA3313;
    letter-spacing: 0.25px;
    position: relative;
&::after{
  content: "";
  position: absolute;
  left: 0;
  bottom: 2.3px;
  width: 36%;
  height: 1.4px;
  background-color: #EA3313;
}
    
  }
  
  .forgotPasswordWrapper {
    display: flex;
    gap: 5px;
  }
  
  .forgotPasswordText {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.25px;
    color: #79747E;
  }
  