.input{
    background-color: transparent;
    height: 56px;
    width: 300px;
   
    border: 1px solid #1E1E1E;
    border-radius: 5px;
    margin-top: 22px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #000000;
    font-weight: 400;
    line-height: 19px;
    padding: 12px 12px;

    img{
        cursor: pointer;
    }

    input{
        background: transparent;
        outline: none;
        border: none;
        font-size: 16px;

    }



    &:focus {
        outline: none;
    }
}