.input{
    height: 56px;
    width: 300px;
    border: 1px solid #1E1E1E;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;

    img{
        cursor: pointer;
    }

    input{
        width: 100%;
        padding: 16px;
        outline: none;
        border: none;
        font-size: 16px;
        font-weight: 400;
        background: #fff;
        letter-spacing: 0.5px;
        color: #49454F;

    }



    &:focus {
        outline: none;
    }
}